.container {
  max-width: 1080px;
  margin: 0 auto 2rem;
  padding: 2rem;
}

h3 {
  margin-top: 2rem;
}

.date {
  margin-top: -20px;
  color: #666;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  h3 {
    margin-top: 1rem;
  }
}
