.tableContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
  background-color: white;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #eaeaea;
  color: #757575;
  font-weight: 600 !important;
  padding: 16px 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.table tr {
  color: #757575;
  font-size: 14px;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.sortIcon {
  margin-left: 8px;
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickableRow:hover {
  background-color: #f1f1f1;
}

.playerCell {
  display: flex;
  align-items: center;
}

.crownIcon {
  position: absolute;
  transform: rotate(-10deg);
  text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.5);
  top: -17px;
  left: 1px;
  font-size: 22px;
}

.chevronCell {
  text-align: right !important;
  color: #888;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.avatarIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.playerImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
  object-position: center;
}

.chevron {
  width: 10px;
}
